/* @font-face {
  font-family: "Genera-AltLight";
  src: url('webFonts/GeneraAltLight/font.woff2') format('woff2'),
  url('webFonts/GeneraAltLight/font.woff') format('woff');
}
@font-face {
  font-family: "EloquiaDisplay-ExtraBold";
  src: url('webFonts/EloquiaDisplayExtraBold/font.woff2') format('woff2'),
  url('webFonts/EloquiaDisplayExtraBold/font.woff') format('woff');
}
@font-face {
  font-family: "EloquiaText-ExtraLight";
  src: url('webFonts/EloquiaTextExtraLight/font.woff2') format('woff2'),
  url('webFonts/EloquiaTextExtraLight/font.woff') format('woff');
}
@font-face {
  font-family: "Genera-SemiBold";
  src: url('webFonts/GeneraSemiBold/font.woff2') format('woff2'),
  url('webFonts/GeneraSemiBold/font.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  src: url('webFonts/Inter-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Extra';
  src: url('webFonts/Inter-ExtraBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Light BETA';
  src: url('webFonts/Inter-LightBETA.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Extra Light BETA';
  src: url('webFonts/Inter-ExtraLightBETA.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
} */

/**
 * @license
 * MyFonts Webfont Build ID 4318144, 2022-01-29T16:29:09-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Genera-SemiBold by Wahyu and Sani Co.
 * URL: https://www.myfonts.com/fonts/wahyu-sani-co/genera/semi-bold/
 * Copyright: © 2019 Wahyu &amp; Sani Co. All Rights Reserved.
 * 
 * Webfont: Genera-AltLight by Wahyu and Sani Co.
 * URL: https://www.myfonts.com/fonts/wahyu-sani-co/genera/alt-light/
 * Copyright: © 2019 Wahyu &amp; Sani Co. All Rights Reserved.
 * 
 * Webfont: EloquiaDisplay-ExtraBold by Typekiln
 * URL: https://www.myfonts.com/fonts/typekiln/eloquia/display-extra-bold/
 * Copyright: ©2020 Typekiln.
 * 
 * Webfont: EloquiaText-ExtraLight by Typekiln
 * URL: https://www.myfonts.com/fonts/typekiln/eloquia/text-extra-light/
 * Copyright: ©2020 Typekiln.
 * 
 * 
 * 
 * © 2022 MyFonts Inc
*/

@font-face {
  font-family: 'Inter';
  src: url('./webFonts/Inter/Inter-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./webFonts/Inter/Inter-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./webFonts/Inter/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./webFonts/Inter/Inter-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size:16px;
}
h1, h2, h3, h4,
h1 a, h2 a, h3 a, h4 a
.ant-card-body span.title,
span.card__body.title {
  color:#0099FF;
  font-family: 'Inter';
  font-weight: bold;
}
span.card__body.teaser {
  font-weight: bold;
}


/*

font-family: 'Anton', sans-serif;
font-family: 'Fjalla One', sans-serif;
*/