.singlepostwrapper{
    box-sizing: border-box;  
    max-width: 990px;
    margin:0 auto;
    
}  
.singlepost_img{
    display: block;
    margin:0 auto;
    text-align: center;
    padding:50px;
    width: 900px;
    font-size: 14px;
}
.moreposts h4{
    color:black;
    font: normal 2.5em;
}

.singlepost_body, .moreposts {
    width: 800px;
    margin: 0 auto 2rem;
}
.moreposts {
    margin: 0 auto 4rem;
}

