:root {
  --shadow-color: 0deg 0% 0%;
  --shadow-elevation-low:
    0px 0.5px 0.8px hsl(var(--shadow-color) / 0),
    0px 1.7px 2.6px hsl(var(--shadow-color) / 0.11);
  --shadow-elevation-medium:
    0px 0.5px 0.8px hsl(var(--shadow-color) / 0),
    0.1px 8.6px 12.9px hsl(var(--shadow-color) / 0.16);
  --shadow-elevation-high:
    0px 0.5px 0.8px hsl(var(--shadow-color) / 0),
    0.1px 11.6px 17.4px hsl(var(--shadow-color) / 0.13),
    0.3px 36.2px 54.3px hsl(var(--shadow-color) / 0.26);
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.App {
  width: 100%;
  margin:0 auto;
  padding:0;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  background-color: rgba(255,255,255,0.3);
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
  position: sticky;
  top:0;
  height:46px;
  z-index: 2;
}
.nav {
  max-width: 1200px;
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.nav ul.ant-menu {
  background: transparent;
  border-bottom: 0;
}
nav ul {
  padding-inline-start: 0;
}
nav ul li {
  display: inline;
  padding: 8px 16px;
}
nav ul li:first-of-type{
  padding-left:0;
}
header {
  display: flex;
  justify-content: center;
  height: 40vh;
  position: relative;
  margin-top: -50px;
  z-index: 1;
  flex-wrap: wrap;
}
header.hero img {
  flex-basis: 100%;
  width: 100%;
  height: 40vh;
  object-fit: cover;
}
h2.hero__heading {
  font-size: 60px;
  line-height: 1;
  color: white;
  flex-basis: 100%;
  max-width: 1200px;
  position: absolute;
  bottom: 0;
  text-shadow: 0 2px 10px rgba(0,0,0,0.2);
  padding: 0 16px;
}
/* h2.hero__heading span {
  background-image: linear-gradient(45deg, #B627C1, #B627C1);
  background-size: auto 70px;
  background-position: 0 6px;
  background-repeat: repeat-x;
} */
a.active {
  color: red;
}
main {
  text-align: left;
  width: 100%;
  max-width: 1200px;
  margin:0 auto;
  padding:1em;
  box-sizing: border-box;
}
article ul ul {
  padding-left: 1em;
}
article ul ul li::marker {
  content: '– ';
}
.ant-card-bordered {
  border: 0 solid transparent;
}
.card {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-end;
  align-self: center;
  justify-content: flex-start;
  min-height: 280px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 8px;
}
.ant-card-hoverable {
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
  border-radius: 8px;
}
.ant-card-hoverable:hover {
  box-shadow: var(--shadow-elevation-medium);
}
.ant-card-cover  {
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  transform: scale(1.13);
  height: 80px;
  margin-bottom: 12px;
}
.ant-card-hoverable.card__home > div > img {
  height: 240px;
  width: auto;
}
.ant-card-cover > img{
  transition: all 300ms ease-in;
}
.ant-card-cover:hover > img{
  transform:scale(1.1)
}
.ant-card-body {
  padding: 22px 16px 2em;
  cursor: default;
/*   display: flex;
  flex-wrap: wrap;
  border-radius: 0 0 8px 8px;
  position: absolute;
  /* background-image: linear-gradient(to top, rgba(0,0,0,0.75), transparent); */
  /* width: 100%; */ 
}
.ant-card-body::after {
  /* content: '';
  width: 100%;
  height: 90px;
  position: absolute;
  background-image: linear-gradient(to top, rgba(0,0,0,0.75), transparent);
  left: 0;
  bottom: 0;
  z-index: 1;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px; */
}
.ant-card-body span {
  color: black;
  /* font-family: 'Inter Extra'; */
  font-size: 14px;
  line-height: 1.2;
  width: 100%;
  z-index: 2;
}
span.card__body.teaser,
span.card__body.title {
  display: inline-block;
  width: 100%;
  min-height: 1px;
  transition: all 300ms ease-in;
}
span.card__body.teaser:hover,
span.card__body.title:hover {
  cursor: pointer;
  color:#1890ff;
} 
.ant-card-body span:nth-child(2) {
  font-size:18px;
}
button.card__body {
  display: block;
}
.tags {
  padding: 8px;
  background-color: darkorchid;
  border-radius: 4px;
  color: white;
  margin-right: 8px;
  position: relative;
  transition: all 300ms ease-in;
  -webkit-transition: all 300ms ease-in;
  border: 2px transparent solid;
  bottom: 0;
}
.tags:hover {
  border: 2px blue solid;
  bottom: 4px;
}
img.postimg {
  width:100%;
}
a.imagecredits {
  display: block;
}

@media screen and (min-width:768px) {
  .card {
    min-height: 380px;
  }

  .ant-card-cover  {
    height: 180px;
  }
}